<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>broken.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,642},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>brokenWithWave.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,444},{197,196}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{197,196}}</string>
                <key>sourceSize</key>
                <string>{201,200}</string>
            </dict>
            <key>frog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,394},{156,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,147}}</string>
                <key>sourceSize</key>
                <string>{156,147}</string>
            </dict>
            <key>frog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,246},{146,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,169}}</string>
                <key>sourceSize</key>
                <string>{146,169}</string>
            </dict>
            <key>plumpwave.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{246,242}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{246,242}}</string>
                <key>sourceSize</key>
                <string>{266,274}</string>
            </dict>
            <key>pool.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>slimwave.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,246},{197,196}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{197,196}}</string>
                <key>sourceSize</key>
                <string>{201,200}</string>
            </dict>
            <key>unbroken.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,543},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resource2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90e0ee1a0fda8d3d0f749b59060c3f79$</string>
            <key>textureFileName</key>
            <string>resource2.png</string>
        </dict>
    </dict>
</plist>
