<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>frog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1819},{156,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,147}}</string>
                <key>sourceSize</key>
                <string>{156,147}</string>
            </dict>
            <key>frog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1648},{146,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,169}}</string>
                <key>sourceSize</key>
                <string>{146,169}</string>
            </dict>
            <key>insect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{145,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,51}}</string>
                <key>sourceSize</key>
                <string>{145,51}</string>
            </dict>
            <key>insect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1648},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,72}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
            <key>mosquito1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{187,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,154}}</string>
                <key>sourceSize</key>
                <string>{187,154}</string>
            </dict>
            <key>mosquito2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1475},{171,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,154}}</string>
                <key>sourceSize</key>
                <string>{171,154}</string>
            </dict>
            <key>mushroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1784},{116,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,88}}</string>
                <key>sourceSize</key>
                <string>{116,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resource1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1406097f352399d7ed77746b0911f94e$</string>
            <key>textureFileName</key>
            <string>resource1.png</string>
        </dict>
    </dict>
</plist>
